{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4 p-5 bg-dark text-white rounded">
        <h1>Selamat Datang di Capstone Project TBO 🚀</h1>
        <p class="lead">Aplikasi web ini mengintegrasikan simulasi otomata, regex, PDA, dan CNF.</p>
        <hr class="my-4">
        <p>Silakan gunakan menu di sebelah kiri untuk mulai menguji modul.</p>
        <a class="btn btn-primary btn-lg" href="/fsa" role="button">Buka Modul 1: FSA</a>
    </div>
</div>
{% endblock %}